In [1]:
# Import libries

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import matplotlib.patches as mpatches
import seaborn as sns
import datetime as dt
import xlrd
import sqlite3

In [3]:
# Import dataframes AND convert to db

#Import
sales = pd.read_excel(
    r'C:\Users\jspad\Documents\Code Academy\Sqlite Projects\sales original.xlsx', 
    sheet_name='customers',
    header=0)

#Convert
db_conn = sqlite3.connect(r'C:\Users\jspad\Documents\Code Academy\Sqlite Projects\sales original.db')

In [5]:
sales.head()

  CustomerID  Country
0      18011  Germany
1      18011  Germany
2      18011  Germany
3      18011  Germany
4      18011  Germany

In [ ]:
%reset